.profile__edit-button {
  background: url(../../../images/edit-button.svg) no-repeat;
  height: 24px;
  width: 24px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  padding: 0;
}

@media all and (max-width: 630px) {
  .profile__edit-button {
    margin-left: 10px;
    background-size: cover;
    height: 18px;
    width: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}